

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*-----------------------------------------
The @media MAX-width query properties
***** IPHONE
/*If Device Width is <= to 414px Then...*/

/*=========================================*/
  @media only screen
  and (max-width: 412px)
{
  .Header {
    height: 1px;
  } 
  .HeaderNavList {
    display: none;
  }

  .MenuWrap {
    display: flex;
  }
  .MenuWrap .Menu > div {
    /*move menu around*/
      justify-content: left; /*was center*/
      padding-left: 90px; /*was deleted*/
      margin-top: -210px; /*was deleted*/
    /*end of move around*/
  }
  .MenuWrap .Menu > div > div > ul > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    padding: 0px;
  }
  .BoxMenu {
    padding: 0px;
    background-color: whitesmoke;
  }
  .MobileLogo{
    display: block;
    padding-left: 50px;
    padding-top: 50px;  
  }
  .device-text::after {
    content: "\ [mobile P] ";
  }
  .device-text {
    font-size: 20px;
    font-weight: 800;
/*  color:#dadada;*/
    color: goldenrod; /* rgb(255,201,14); /*gold*/
    text-shadow: 1px 1px 1px black;
    padding-bottom: 0px;
}
  .Logo {
    display: none;
  }

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section1 properites
------------------------------------------*/
.Section1 {
  background: var(--Section1_background-color);
  width: 37%;
  height: 70%;
  position: relative;
  color: var(--Section2-font-color);
  top: 80px; /*<---ADD to adjust the top position*/
  overflow-y: scroll;
  border: solid 2px #242526;
  box-shadow: 4px 4px 10px #000000;
  border-radius: 1%;
}

/*------------------------------------------*/
.MainMenu {
  display: none;
}
.MenuBullets {
  display: block;
}
/*------------------------------------------*/
.MenuBullets ul {
  list-style-type: none;
  margin: 20px 0px 5px -40px;
  padding-bottom: 0px;
  font-size: 10px;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  text-decoration: none;
  /*border-bottom: 1px #333 dotted;*/
/*    column-rule: dotted 1px #333;*/

}
/*------------------------------------------*/
.MenuBullets ul li:before { 
  font-family: var(--CalloutIconFontFamily);
  font-weight: 600;
  content: var(--CalloutIconCheck); /*checkbox*/ 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0px 0px 0px 0px; 
} 
/*------------------------------------------*/  
.MenuBullets a {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 0;
  padding: 0px 0px 0px 10px;
}
/*------------------------------------------*/
.MenuBullets ul a:hover,
.MenuBullets ul a:active {
  color: red;
  font-size: 150%;
}
.UnorderedListItem {
  padding-bottom: 5px; /*spread bullets from top to bottom*/
} 
/* Section1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

  .Footer {
    display: none;
  }

}    
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
